* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
    color: #000;
    font-size: 1em;

}

body {
    background-color: #eaeaea;
}

#pages {
    background-color: #eaeaea;
}

#pages header {
    background-color: #eaeaea;
    text-align: center;
}

header {
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

#pages header nav {
    width: 100%;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#pages header nav a {
    position: absolute;
    left: 25px;
}
a {
    text-decoration: none;
}

#pages header nav i {
    font-size: 1.5em;
}
#pages header nav img {
    width: 200px;
}
img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#pages main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}

#pages section img {
    max-height: 275px;
}
img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#pages .menuTitre__text {
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1.6em;
    padding: 30px 15px 0px;
}
#pages .menuTitre :nth-child(2) {
    --nth-child: 1;
}

.heart {
    position: relative;
}



#pages .menuTitre__text .heart .fas {
    position: absolute;
    top: 2px;
    left: -0.5px;
}

#pages .menu {
    padding: 45px 15px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
}
#pages .menu__titre {
    color: black;
    opacity: 70%;
    position: relative;
    font-weight: normal;
    margin-bottom: 15px;
}

#pages .menu__titre::after{
    content: '';
    height: 2px;
    width: 5%;
    background: #99E2D0;
    position: absolute;
    left: 0;
    bottom: -40%;
}


#pages .menu .element {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
    -webkit-animation: slide 1s calc(var(--nth-child) * 150ms) forwards;
    animation: slide 1s calc(var(--nth-child) * 150ms) forwards;
}
#pages .menu :nth-child(2) {
    --nth-child: 1;
}
.element {
    width: 100%;
    height: 250px;
    -webkit-box-shadow: 0px 5px 10px #b4b4b4;
    box-shadow: 0px 5px 10px #b4b4b4;
    margin-bottom: 18px;
    border-radius: 15px;
    position: relative;
}
a {
    text-decoration: none;
}
#pages .menu .element__menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}
#pages .menu .element__menu__description {
    width: 100%;
    padding: 10px;
    margin: 0;
}

#pages .menu .element__menu__description h3 {
    padding-bottom: 5px;
    width: 90%;
    font-size: 1.2em;
    font-weight: 700;
    color:black;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
#pages .menu .element__menu__description p {
    width: 90%;
    color:black;
    font-weight: 300;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
#pages .menu :nth-child(2) {
    --nth-child: 1;
}
#pages .menu .element:hover .element__menu__description {
    webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all 0.8s ease-in-out;
    margin-right: -100px;
}
#pages .menu .element:hover .element__menu__description h3, 
#pages .menu .element:hover .element__menu__description p {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 60%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

#pages .menu .element__menu__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 15px 10px 0px;
    background-color: #fff;
}
#pages .menu .element__menu__icon {
    background-color: #98e2cf;
    margin: -10px 0 -15px 0px;
    margin-right: -65px;
    width: 67.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#pages > main > section > a > div > div.element__menu__icon > i {
    color: white;
    font-size: 24px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
#pages .menu .element:hover .element__menu__icon .fas {
    -webkit-transform: rotate(
360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(
360deg);
    -webkit-transition: all .4s ease-in-out .1s;
    -o-transition: all .4s ease-in-out .1s;
    transition: all .4s ease-in-out .1s;
}

#pages .menu .element:hover .element__menu__icon .fas {
    -webkit-transform: rotate(
360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(
360deg);
    -webkit-transition: all .4s ease-in-out .1s;
    -o-transition: all .4s ease-in-out .1s;
    transition: all .4s ease-in-out .1s;
}

#pages .menu .element {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
    
    -webkit-animation: slide 1s calc(var(--nth-child) * 150ms) forwards;
    animation: slide 1s calc(var(--nth-child) * 150ms) forwards;
}
.button {
    width: 50%;
    margin: 35px auto;
    padding: 15px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 10px #b4b4b4;
    box-shadow: 0px 5px 10px #b4b4b4;
    text-decoration: none;
    text-align: center;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9256dc));
    background: -o-linear-gradient(top left, #FF79DA 0%, #9256dc 100%);
    background: linear-gradient(to bottom right, #FF79DA 0%, #9256dc 100%);
    color: #fff;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.button:hover{
    background: -o-linear-gradient(top left, #ff88de 0%, #9a63df 100%);
    background: linear-gradient(to bottom right, #ff88de 0%, #9a63df 100%);
    
    box-shadow: 0px 7px 5px #b4b4b4;
}
#pages .button {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto 35px;
}



