
@font-face {
    font-family: Shrikhand;
    src: url(./FONT/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./FONT/Roboto/Roboto-Regular.ttf);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
    color: #000;
    font-size: 1em;

}

:root {
    --tertiare: #99E2D0;
    --white: #f5f7f7;
    --fade:  150ms;
    --secondaire: #FF79DA;
    --primaire: #9356DC;
    --degrade:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    --beige:#eaeaea;

  }

/* petit coeur */
.heart .far {
    font-size: 20px;
    opacity: 1;
    margin-left: 0px;
    color: black;
}


.heart .far:hover {
    content: "\f004";
    background: linear-gradient(to bottom left, var(--primaire) , var(--secondaire) );
    transition: all 0.5s ease;
    font-weight: bold;
    background-size: 200% 100%;
    background-position: left bottom;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pages > main > section {
    animation: fadein 3s ease-in-out;
}

/* footer */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #353535;
    padding: 25px;
}

footer * {
    color: #fff;
}

footer h4, footer h4 a {
    font-family: Shrihand;
    margin-bottom: 20px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

footer ul li {
    margin-bottom: 10px;
    font-size: .9em;
}
footer > div > ul > li > a > i {
    padding-right:10px;
}

footer a {
    text-decoration: none;
}
/* Version Desktop Accueuil */
@media only screen and (min-width: 1366px) {
.contenu {
    width: 95%;
    margin: 0 auto;
}

body > footer > div > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#restaurant .contenue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
#restaurant .element {
    width: 48.5%;
}
.element img {
    height: 175px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
    object-fit: cover;
}
.element__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer .contenue {
    width: 70%;
    margin: 0 auto;
}
#fonctionnement ol {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
#fonctionnement li {
    width: 25%;
}
#fonctionnement h2 {
    padding: 20px;
    display: flex;
    font-size: 20px;
    justify-content: center;

}

/* Desktop Pages */

#pages .menu {
    width: 25%;
    min-width: 350px;
    margin: 0 auto;
}
#pages section {
    width: 100%;
    margin: 0;
    padding: 0;
}
#pages .menuTitre__text {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#pages section img {
    max-height: 400px;
}
#pages .button {
    width: 15%;
}
#pages main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#pages .menu__titre::after {
    
    width: 15%;
}
}

